<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="img/car.svg" type="image/svg+xml">
  <title>Lista de Carros</title>
</head>

<body>
  <header>

  </header>
  <main class="main">
    <h1 class="titulo">Lista <br>de Carros</h1>
    <ul class="lista">
      <li th:each="carro : ${carros}">
        <div>
          <span class="modelo" th:text="${carro.getModelo()}" title="Modelo"></span>
          <span class="id" th:text="'#' + ${carro.getId()}" title="ID"></span>
        </div>
        <div title="Marca">
          <img src="img/car.svg" alt="">
          <span class="marca" th:text="${carro.getMarca()}"></span>
        </div>
        <div title="Ano">
          <img src="img/calendar.svg" alt="">
          <span class="ano" th:text="${carro.getAno()}"></span>
        </div>
        <div title="Porta">
          <img src="img/door.svg" alt="">
          <span class="porta" th:text="${carro.getPortas()}"></span>
        </div>
        <div title="Aro">
          <img src="img/wheel.svg" alt="">
          <span class="aro" th:text="${carro.getAro()}"></span>
        </div>
        <div title="Combustível">
          <img src="img/gas.svg" alt="">
          <span class="combustivel" th:text="${carro.getCombustivel()}"></span>
        </div>
      </li>
    </ul>
  </main>
</body>

</html>